<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="application.Application1">
         </run>
      </application>
   </extension>
   <extension
         id="compositeRepoCreator"
         name="Composite Repository Creator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="application.Application2">
         </run>
      </application>
   </extension>

</plugin>
